<header class="user-header">
    <div class="site-title-container">
        <a href="/">
            <div class="title-text">My Digital Garden</div>
        </a>
    </div>
    <nav class="user-nav">
        <a href="/about">About</a>
        <a href="/archive">Archive</a>
    </nav>
</header>
